# rsync -zvhre ssh --progress --delete _book/ rodney@popgen.bio.vcu.edu:/var/www/

# RStudio related stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# folders
_book
_bookdown_files
chapter_images
images
scripts

Graphics.key
